<!DOCTYPE html>

<html>
<head>
    <title>Live Status</title>
    <meta name="viewport" content="user-scalable=no, width=device-width"/>

    <link href="/static/css/site.css" rel="stylesheet" />
    <link href="/static/css/admin.css" rel="stylesheet" />
    <link href="/static/css/ladda.css" rel="stylesheet" />


    <link rel="stylesheet" href="/static/css/jquery-ui/jquery-ui-smoothness.css" />
    <link rel="stylesheet" href="/static/css/site.css" />

</head>
<body>
<div class="main-body">
    <h1>Active Clients</h1>

    <button id="identify-screens">Identify Clients</button>

    <ul id="connections">

    </ul>
</div>

<script src="/static/js/lib/jquery-2.0.0.js"></script>
<script src="/static/js/lib/moment.js"></script>
<script src="/static/js/lib/lodash.js"></script>
<script src="/static/js/lib/TLRGRP.core.js"></script>
<script src="/static/js/lib/nanomachine.js"></script>

<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/static/js/lib/lodash.js"></script>
<script type="text/javascript" src="/static/js/lib/mustache.js"></script>
<script type="text/javascript" src="/static/js/lib/moment.js"></script>
<script type="text/javascript" src="/static/js/lib/d3.min.js"></script>
<script type="text/javascript" src="/static/js/lib/jquery-2.0.0.js"></script>
<script type="text/javascript" src="/static/js/lib/TLRGRP.core.js"></script>
<script type="text/javascript" src="/static/js/BADGER/admin/clients.js"></script>

</body>
</html>