<!DOCTYPE html>

<html>
<head>
    <title>Live Status</title>
    <meta name="viewport" content="user-scalable=no, width=device-width"/>

    <link href="/static/css/site.css" rel="stylesheet"/>
    <link href="/static/css/ladda.css" rel="stylesheet"/>


    <link rel="stylesheet" href="/static/css/jquery-ui/jquery-ui-smoothness.css"/>
    <link rel="stylesheet" href="/static/css/site.css"/>

</head>
<body>
<div class="main-body">
    <div class="hidden" id="identify"></div>

    <nav id="settings">
        <ul class="settings-menu">
            <li class="top-level-item text clock">00:00</li>
            <li class="top-level-item time-control-header" id="time-control-button">
                <div class="current-item">
                    <span class="time-period">1 Hour</span>
                    <span class="time-period-end-point">Ending now</span>
                </div>
            </li>
            <li class="top-level-item options"></li>
        </ul>
    </nav>

    <div id="time-controls" class="hidden">
        <label class="time-control-label">From Now: </label>
        <ul class="time-control-options">
            <li data-time-frame="15" data-time-frame-units="minutes">15<div class="time-control-unit">mins</div></li>
            <li data-time-frame="30" data-time-frame-units="minutes">30<div class="time-control-unit">mins</div></li>
            <li data-time-frame="1" data-time-frame-units="hours" class="selected">1<div class="time-control-unit">hour</div></li>
            <li data-time-frame="6" data-time-frame-units="hours">6<div class="time-control-unit">hours</div></li>
            <li data-time-frame="12" data-time-frame-units="hours">12<div class="time-control-unit">hours</div></li>
            <li data-time-frame="1" data-time-frame-units="days">1<div class="time-control-unit">day</div></li>
            <li data-time-frame="2" data-time-frame-units="days">2<div class="time-control-unit">days</div></li>
            <li data-time-frame="3" data-time-frame-units="days">3<div class="time-control-unit">days</div></li>
            <li data-time-frame="1" data-time-frame-units="weeks">1<div class="time-control-unit">week</div></li>
            <li data-time-frame="4" data-time-frame-units="weeks">4<div class="time-control-unit">weeks</div></li>
        </ul>

        <label class="time-control-label">Last Week: </label>
        <ul class="time-control-options days">
            <li data-time-frame="0" data-time-frame-units="daysAgo">Today</li>
            <li data-time-frame="1" data-time-frame-units="daysAgo">Yesterday</li>
        </ul>
        <!--
        <div class="button-container">
            <button>GO!</button>
        </div>-->
    </div>

    <nav id="dashboard-menu">
        <ul class="status-menu">
            <li class="top-level-item text">V2</li>
        </ul>
    </nav>
    <div id="content"></div>

</div>

<script src="/socket.io/socket.io.js"></script>

<!-- build:js /static/js/app.js -->
<script type="text/javascript" src="/static/js/lib/lodash.js"></script>
<script type="text/javascript" src="/static/js/lib/mustache.js"></script>
<script type="text/javascript" src="/static/js/lib/moment.js"></script>
<script type="text/javascript" src="/static/js/lib/d3.min.js"></script>
<script type="text/javascript" src="/static/js/lib/jquery-2.0.0.js"></script>
<script type="text/javascript" src="/static/js/lib/jquery.cookie.js"></script>
<script type="text/javascript" src="/static/js/lib/TLRGRP.core.js"></script>
<script type="text/javascript" src="/static/js/lib/nanomachine.js"></script>
<script type="text/javascript" src="/static/js/BADGER/LOADING.js"></script>
<script type="text/javascript" src="/static/js/BADGER/dashboard/TLRGRP.BADGER.Dashboard.Loader.js"></script>
<script type="text/javascript" src="/static/js/BADGER/dashboard/TLRGRP.BADGER.Dashboard.js"></script>
<script type="text/javascript" src="/static/js/BADGER/pageManager/TLRGRP.BADGER.Dashboard.PageManager.js"></script>
<script type="text/javascript" src="/static/js/BADGER/menu/TLRGRP.BADGER.Dashboard.ViewSelector.js"></script>
<script type="text/javascript" src="/static/js/BADGER/menu/TLRGRP.BADGER.Dashboard.Menu.js"></script>
<script type="text/javascript"
        src="/static/js/BADGER/ComponentModules/TLRGRP.BADGER.Dashboard.ComponentModules.ComponentLayout.js"></script>
<script type="text/javascript"
        src="/static/js/BADGER/ComponentModules/TLRGRP.BADGER.Dashboard.ComponentModules.InlineLoading.js"></script>
<script type="text/javascript"
        src="/static/js/BADGER/ComponentModules/TLRGRP.BADGER.Dashboard.ComponentModules.LastUpdated.js"></script>
<script type="text/javascript"
        src="/static/js/BADGER/ComponentModules/TLRGRP.BADGER.Dashboard.ComponentModules.Error.js"></script>
<script type="text/javascript"
        src="/static/js/BADGER/DataStores/TLRGRP.BADGER.Dashboard.DataStores.AjaxDataStore.js"></script>
<script type="text/javascript"
        src="/static/js/BADGER/DataStores/TLRGRP.BADGER.Dashboard.DataStores.SyncAjaxDataStore.js"></script>
<script type="text/javascript"
        src="/static/js/BADGER/DataStores/Sources/elasticsearch.js"></script>
<script type="text/javascript"
        src="/static/js/BADGER/DataStores/Sources/cube.js"></script>
<script type="text/javascript"
        src="/static/js/BADGER/Components/HealthCheck/TLRGRP.BADGER.ComponentModules.HealthCheckServerList.js"></script>
<script type="text/javascript"
        src="/static/js/BADGER/Components/HealthCheck/TLRGRP.BADGER.Components.HealthCheck.js"></script>
<script type="text/javascript"
        src="/static/js/BADGER/Components/LineGraphAndCounter/TLRGRP.BADGER.ComponentModules.LineGraph.js"></script>
<script type="text/javascript"
        src="/static/js/BADGER/Components/LineGraphAndCounter/TLRGRP.BADGER.ComponentModules.Counter.js"></script>
<script type="text/javascript"
        src="/static/js/BADGER/Components/LineGraphAndCounter/TLRGRP.BADGER.ComponentModules.MultiCounter.js"></script>
<script type="text/javascript"
        src="/static/js/BADGER/Components/LineGraphAndCounter/TLRGRP.BADGER.Components.LineGraphAndCounter.js"></script>
<script type="text/javascript"
        src="/static/js/BADGER/Components/Errors/TLRGRP.BADGER.Components.ErrorsByHour.js"></script>
<script type="text/javascript" src="/static/js/BADGER/Components/Kibana/kibana.js"></script>
<script type="text/javascript" src="/static/js/BADGER/Components/Errors/TLRGRP.BADGER.Components.ErrorList.js"></script>
<script type="text/javascript"
        src="/static/js/BADGER/Components/Errors/TLRGRP.BADGER.ComponentModules.ErrorHourList.js"></script>
<script type="text/javascript" src="/static/js/BADGER/SyncClient/index.js"></script>
<!-- endbuild  -->

<script type="text/javascript">
    (function () {
        new TLRGRP.BADGER.SyncClient();
        new TLRGRP.BADGER.Dashboard.Loader($('#content'));

        $.get('/static/dashboards/all.json').then(function(data) {
            _.each(data.dashboards, TLRGRP.BADGER.Dashboard.register);

            new TLRGRP.BADGER.Dashboard.Menu($('#dashboard-menu'));
            new TLRGRP.BADGER.Dashboard.PageManager({ baseUrl: '' });
        });
    })();
</script>

</body>
</html>
