<!DOCTYPE html>

<html>
<head>
    <title>Live Status</title>
    <meta name="viewport" content="user-scalable=no, width=device-width"/>

    <link href="/static/css/site.css" rel="stylesheet"/>
    <link href="/static/css/ladda.css" rel="stylesheet"/>


    <link rel="stylesheet" href="/static/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/static/fonts/octicons/octicons.css"/>
    <link rel="stylesheet" href="/static/css/jquery-ui/jquery-ui-smoothness.css"/>
    <link rel="stylesheet" href="/static/css/site.css"/>

</head>
<body>

<nav id="dashboard-menu">
    <div class="connection-indicator" id="connection-indicator">
        <div class="connection-indicator-icon"><span class="disconnected mega-octicon octicon-alignment-unalign"></span><span class="connected mega-octicon octicon-pulse"></span></div>
    </div>
    <ul class="status-menu">
        <li class="top-level-item text v2-label">V2</li>
    </ul>
    <div class="ticker" id="news-ticker">
        <div class="ticket-icon">
            <span class="mega-octicon octicon-broadcast"></span>
        </div>
        <div class="ticker-text"></div>
    </div>
</nav>

<div class="main-body">
    <div class="hidden" id="identify"></div>
    <div class="hidden" id="message"></div>

    <nav id="settings">
        <ul class="settings-menu">
            <li class="top-level-item text clock" id="clock">
                <div class="clock-icon"><span class="mega-octicon octicon-clock"></span></div>
                <span class="hours-and-minutes"></span><span class="seconds"></span>
            </li>
            <li class="top-level-item time-control-header" id="time-control-button">
                <div class="current-item">
                    <span class="time-period">1 Hour</span>
                    <span class="time-period-end-point">Ending now</span>
                </div>
            </li>
        </ul>
    </nav>

    <div id="time-controls" class="hidden">
        <label class="time-control-label">From Now: </label>
        <ul class="time-control-options">
            <li id="time-control-15-minutes" data-time-frame="15" data-time-frame-units="minutes">15<div class="time-control-unit">mins</div></li>
            <li id="time-control-30-minutes" data-time-frame="30" data-time-frame-units="minutes">30<div class="time-control-unit">mins</div></li>
            <li id="time-control-1-hours" data-time-frame="1" data-time-frame-units="hours" class="selected">1<div class="time-control-unit">hour</div></li>
            <li id="time-control-6-hours" data-time-frame="6" data-time-frame-units="hours">6<div class="time-control-unit">hours</div></li>
            <li id="time-control-12-hours" data-time-frame="12" data-time-frame-units="hours">12<div class="time-control-unit">hours</div></li>
            <li id="time-control-1-days" data-time-frame="1" data-time-frame-units="days">1<div class="time-control-unit">day</div></li>
            <li id="time-control-2-days" data-time-frame="2" data-time-frame-units="days">2<div class="time-control-unit">days</div></li>
            <li id="time-control-3-days" data-time-frame="3" data-time-frame-units="days">3<div class="time-control-unit">days</div></li>
            <li id="time-control-1-weeks" data-time-frame="1" data-time-frame-units="weeks">1<div class="time-control-unit">week</div></li>
            <li id="time-control-4-weeks" data-time-frame="4" data-time-frame-units="weeks">4<div class="time-control-unit">weeks</div></li>
        </ul>

        <label class="time-control-label">Last Week: </label>
        <ul class="time-control-options days">
            <li id="time-control-0-daysAgo" data-time-frame="0" data-time-frame-units="daysAgo">Today</li>
            <li id="time-control-1-daysAgo" data-time-frame="1" data-time-frame-units="daysAgo">Yesterday</li>
        </ul>
        <!--
        <div class="button-container">
            <button>GO!</button>
        </div>-->
    </div>

    <div id="content"></div>

</div>

<script src="/socket.io/socket.io.js"></script>

<!-- build:js /static/js/app.js -->
<script type="text/javascript" src="/static/js/lib/lodash.js"></script>
<script type="text/javascript" src="/static/js/lib/mustache.js"></script>
<script type="text/javascript" src="/static/js/lib/moment.js"></script>
<script type="text/javascript" src="/static/js/lib/d3-3.5.6.js"></script>
<script type="text/javascript" src="/static/js/lib/jquery-2.0.0.js"></script>
<script type="text/javascript" src="/static/js/lib/jquery.cookie.js"></script>
<script type="text/javascript" src="/static/js/lib/TLRGRP.core.js"></script>
<script type="text/javascript" src="/static/js/lib/nanomachine.js"></script>
<script type="text/javascript" src="/static/js/BADGER/LOADING.js"></script>
<script type="text/javascript" src="/static/js/BADGER/Utilities/relativeMonth.js"></script>
<script type="text/javascript" src="/static/js/BADGER/Utilities/objectHelpers.js"></script>
<script type="text/javascript" src="/static/js/BADGER/dashboard/TLRGRP.BADGER.Dashboard.Layout.js"></script>
<script type="text/javascript" src="/static/js/BADGER/dashboard/TLRGRP.BADGER.Dashboard.Loader.js"></script>
<script type="text/javascript" src="/static/js/BADGER/dashboard/TLRGRP.BADGER.Dashboard.Menu.js"></script>
<script type="text/javascript" src="/static/js/BADGER/dashboard/TLRGRP.BADGER.Dashboard.js"></script>
<script type="text/javascript" src="/static/js/BADGER/pageManager/TLRGRP.BADGER.Dashboard.PageManager.js"></script>
<script type="text/javascript" src="/static/js/BADGER/menu/TLRGRP.BADGER.Dashboard.ViewSelector.js"></script>
<script type="text/javascript" src="/static/js/BADGER/menu/TLRGRP.BADGER.Dashboard.Menu.js"></script>
<script type="text/javascript"
        src="/static/js/BADGER/ComponentModules/TLRGRP.BADGER.Dashboard.ComponentModules.ComponentLayout.js"></script>
<script type="text/javascript"
        src="/static/js/BADGER/ComponentModules/TLRGRP.BADGER.Dashboard.ComponentModules.MultiComponentBus.js"></script>
<script type="text/javascript"
        src="/static/js/BADGER/ComponentModules/TLRGRP.BADGER.Dashboard.ComponentModules.InlineLoading.js"></script>
<script type="text/javascript"
        src="/static/js/BADGER/ComponentModules/TLRGRP.BADGER.Dashboard.ComponentModules.LastUpdated.js"></script>
<script type="text/javascript"
        src="/static/js/BADGER/ComponentModules/TLRGRP.BADGER.Dashboard.ComponentModules.Error.js"></script>
<script type="text/javascript"
        src="/static/js/BADGER/DataStores/TLRGRP.BADGER.Dashboard.DataStores.StandardDataStore.js"></script>
<script type="text/javascript"
        src="/static/js/BADGER/DataStores/TLRGRP.BADGER.Dashboard.DataStores.SyncAjaxDataStore.js"></script>
<script type="text/javascript"
        src="/static/js/BADGER/elasticsearch/indexBuilder.js"></script>
<script type="text/javascript"
        src="/static/js/BADGER/DataStores/Mappers/index.js"></script>
<script type="text/javascript"
        src="/static/js/BADGER/DataStores/Sources/elasticsearch.js"></script>
<script type="text/javascript"
        src="/static/js/BADGER/DataStores/Sources/cube.js"></script>
<script type="text/javascript"
        src="/static/js/BADGER/ComponentFactories/TLRGRP.BADGER.ComponentFactories.js"></script>
<script type="text/javascript"
        src="/static/js/BADGER/ComponentFactories/AllPoolsLoadBalancerStatus/TLRGRP.BADGER.ComponentFactories.AllPoolsLoadBalancerStatus.js"></script>
<script type="text/javascript"
        src="/static/js/BADGER/Components/HealthCheck/TLRGRP.BADGER.ComponentModules.HealthCheckServerList.js"></script>
<script type="text/javascript"
        src="/static/js/BADGER/Components/HealthCheck/TLRGRP.BADGER.Components.HealthCheck.js"></script>
<script type="text/javascript"
        src="/static/js/BADGER/Components/HealthCheckSentinel/TLRGRP.BADGER.ComponentModules.HealthCheckSentinelServerList.js"></script>            
<script type="text/javascript"
        src="/static/js/BADGER/Components/HealthCheckSentinel/TLRGRP.BADGER.Components.HealthCheckSentinel.js"></script>
<script type="text/javascript"
        src="/static/js/BADGER/Components/KafkaHealthCheckSentinel/TLRGRP.BADGER.ComponentModules.KafkaHealthCheckSentinel.js"></script>          
<script type="text/javascript"
        src="/static/js/BADGER/Components/KafkaHealthCheckSentinel/TLRGRP.BADGER.Components.KafkaHealthCheckSentinel.js"></script>
<script type="text/javascript"
        src="/static/js/BADGER/Components/KafkaHealthCheckSentinel/TLRGRP.BADGER.ComponentModules.KafkaTopicCheckSentinel.js"></script>          
<script type="text/javascript"
        src="/static/js/BADGER/Components/KafkaHealthCheckSentinel/TLRGRP.BADGER.Components.KafkaTopicCheckSentinel.js"></script>  
<script type="text/javascript"
        src="/static/js/BADGER/Components/KafkaHealthCheckSentinel/TLRGRP.BADGER.ComponentModules.ZookeeperHealthCheckSentinel.js"></script>          
<script type="text/javascript"
        src="/static/js/BADGER/Components/KafkaHealthCheckSentinel/TLRGRP.BADGER.Components.ZookeeperHealthCheckSentinel.js"></script>  
<script type="text/javascript"
        src="/static/js/BADGER/Components/KafkaHealthCheckSentinel/TLRGRP.BADGER.ComponentModules.KafkaConsumersSentinel.js"></script>
<script type="text/javascript"
        src="/static/js/BADGER/Components/KafkaHealthCheckSentinel/TLRGRP.BADGER.Components.KafkaConsumersSentinel.js"></script>
<script type="text/javascript"
        src="/static/js/BADGER/Components/AlertsSentinel/TLRGRP.BADGER.ComponentModules.AlertsSentinel.js"></script>
<script type="text/javascript"
        src="/static/js/BADGER/Components/AlertsSentinel/TLRGRP.BADGER.Components.AlertsSentinel.js"></script>
<script type="text/javascript"
        src="/static/js/BADGER/Components/Releases/index.js"></script>
<script type="text/javascript"
        src="/static/js/BADGER/Components/LoadBalancerStatus/TLRGRP.BADGER.ComponentModules.LoadBalancerStatusServerList.js"></script>
<script type="text/javascript"
        src="/static/js/BADGER/Components/LoadBalancerStatus/TLRGRP.BADGER.Components.LoadBalancerStatus.js"></script>
<script type="text/javascript"
        src="/static/js/BADGER/Components/LineGraphAndCounter/GraphComponents/TLRGRP.BADGER.ComponentModules.GraphAxis.js"></script>
<script type="text/javascript" src="/static/js/BADGER/Components/LineGraphAndCounter/GraphComponents/TLRGRP.BADGER.ComponentModules.HighlightedRegion.js"></script>
<script type="text/javascript" src="/static/js/BADGER/Components/LineGraphAndCounter/GraphComponents/TLRGRP.BADGER.ComponentModules.GraphHoverLine.js"></script>
<script type="text/javascript" src="/static/js/BADGER/Components/LineGraphAndCounter/GraphComponents/TLRGRP.BADGER.ComponentModules.GraphToolTip.js"></script>
<script type="text/javascript" src="/static/js/BADGER/Components/LineGraphAndCounter/GraphComponents/TLRGRP.BADGER.ComponentModules.GraphCanvas.js"></script>
<script type="text/javascript"
        src="/static/js/BADGER/Components/LineGraphAndCounter/TLRGRP.BADGER.ComponentModules.LineGraph.js"></script>
<script type="text/javascript"
        src="/static/js/BADGER/Components/LineGraphAndCounter/TLRGRP.BADGER.ComponentModules.BarGraph.js"></script>
<script type="text/javascript"
        src="/static/js/BADGER/Components/LineGraphAndCounter/TLRGRP.BADGER.ComponentModules.Counter.js"></script>
<script type="text/javascript"
        src="/static/js/BADGER/Components/LineGraphAndCounter/TLRGRP.BADGER.ComponentModules.CounterV2.js"></script>
<script type="text/javascript"
        src="/static/js/BADGER/Components/LineGraphAndCounter/TLRGRP.BADGER.ComponentModules.MultiCounter.js"></script>
<script type="text/javascript"
        src="/static/js/BADGER/Components/LineGraphAndCounter/TLRGRP.BADGER.Components.LineGraphAndCounter.js"></script>
<script type="text/javascript"
        src="/static/js/BADGER/Components/Counter/index.js"></script>
<script type="text/javascript"
        src="/static/js/BADGER/Components/ConversionStatus/index.js"></script>
<script type="text/javascript" src="/static/js/BADGER/Components/ConversionStatus/provider.js"></script>
<script type="text/javascript" src="/static/js/BADGER/Components/ConversionStatus/providerGraph.js"></script>
<script type="text/javascript" src="/static/js/BADGER/Components/SharedDataStore/sharedDataStore.js"></script>
<script type="text/javascript" src="/static/js/BADGER/Components/DistributionLookTobook/index.js"></script>
<script type="text/javascript"
        src="/static/js/BADGER/Components/Errors/TLRGRP.BADGER.Components.ErrorsByHour.js"></script>
<script type="text/javascript" src="/static/js/BADGER/Components/Kibana/kibana.js"></script>
<script type="text/javascript" src="/static/js/BADGER/Components/ElasticsearchStatus/index.js"></script>
<script type="text/javascript" src="/static/js/BADGER/Components/ElasticsearchStatus/todaysIndexHealth.js"></script>
<script type="text/javascript" src="/static/js/BADGER/Components/ElasticsearchStatus/serverHealth.js"></script>
<script type="text/javascript" src="/static/js/BADGER/Components/Errors/TLRGRP.BADGER.Components.ErrorList.js"></script>
<script type="text/javascript"
        src="/static/js/BADGER/Components/Errors/TLRGRP.BADGER.ComponentModules.ErrorHourList.js"></script>
<script type="text/javascript" src="/static/js/BADGER/SyncClient/index.js"></script>
<!-- endbuild  -->

<script type="text/javascript">
    (function () {
        new TLRGRP.BADGER.SyncClient();
        new TLRGRP.BADGER.Dashboard.Loader($('#content'));

        $.get('/static/dashboards/all.json').then(function(data) {
            _.each(data.dashboards, TLRGRP.BADGER.Dashboard.register);

            new TLRGRP.BADGER.Dashboard.Menu($('#dashboard-menu'));
            new TLRGRP.BADGER.Dashboard.PageManager({ baseUrl: '' });
        });
    })();
</script>

</body>
</html>
