#identify-screens { font-size: 1.2em; padding: 3px 8px; border-radius: 20px; cursor: pointer; background-color: #fff; border: solid 4px #000; display: inline-block; margin-top: 5px; } 

.message-screens-view { font-size: 1.2em; padding: 3px 8px; border-radius: 20px; cursor: pointer; background-color: #fff; border: solid 4px #000; display: inline-block; margin-top: 5px; } 

#filter-types { margin: 0; padding: 0; list-style: none; margin-top: 10px; }

#filter-types > li { width: 60px; padding: 5px 0px 4px 0px; height: 21px; border: solid 4px #999; color: #999; background-color: #fff; text-align: center; font-size: 1.1em;border-radius: 40px; display: inline-block; overflow: hidden; cursor: pointer }

#filter-types > li.enabled { border-color: #000; color: #000; }

.filter-toggle { display: inline-block; position: relative; width: 18px; height: 15px; }

.filter-toggle > span { display: block; position: absolute; left: 0; top: 0; transition: top 0.25s; }

.enabled .filter-toggle > span.off { top: -25px; }
.enabled .filter-toggle > span.on { top: 0; }

.filter-toggle > span.off { top: 0; }
.filter-toggle > span.on { top: 25px; }

#connections { list-style: none; padding: 0; }

#connections > li { display:none; background-color: #ddd;clear: both; padding: 5px 5px 5px 120px; margin-bottom: 10px; border-radius: 50px 10px 10px 10px; position: relative; min-height: 100px; }
  
#connections.unknown-item > li.unknown-item { display: block; }
#connections.mobile-devices > li.mobile-devices { display: block; }
#connections.machines > li.machines { display: block; }
#connections.screens > li.screens { display: block; }

.connection-type { position: absolute; top: 5px; left: 5px; width: 80px; height: 66px; padding-top: 14px; border: solid 10px black; border-radius: 50px; background-color: #fff; font-size: 3em; text-align: center; }

.connection-list { list-style: none; margin-top: 5px; }

.connection-list-item { clear: both; margin-top: 10px; position: relative; }

.connection-item { position: absolute; top: 0; left: -45px; background-color: #fff; border: solid 4px #000; border-radius: 25px; width: 22px; padding: 4px; height: 22px; font-size: 1.3em; }

.set-name, .change-name, .cancel-change-name, .connection-options { float: right; }

.connection-name { font-size: 1.4em; font-weight: bold; }

.connection-details { color: #555; margin: 5px 0 5px 0; cursor: default; }

.connection-details > div { display: inline-block; margin-right: 10px }

.connection-url { word-break: break-all; }

.edit { min-height: 49px; }

.connection-options > div,
.change-name,
.set-name,
.cancel-change-name { display: inline-block; margin-right: 10px; font-size: 1.3em; width: 30px; padding: 4px 0px 4px 0px; height: 22px; border: solid 4px #000; border-radius: 40px; background-color: #fff; cursor: pointer; text-align: center }

#send-message, #cancel-send-message  { float: right; }

#message-edit { min-height: 49px; }
#send-message,
#cancel-send-message { display: inline-block; margin-right: 10px; font-size: 1.3em; width: 30px; padding: 4px 0px 4px 0px; height: 22px; border: solid 4px #000; border-radius: 40px; background-color: #fff; cursor: pointer; text-align: center }

@media only screen and (max-width : 400px) {
	.connection-type { position: static; float: left; margin: 0 10px 10px 0; font-size: 2em; width: 50px; height: 43px; padding-top: 7px; border: solid 4px #000;  }

	#connections > li { padding-left: 5px; border-radius: 30px; }

	.connection-name { margin-left: 55px; }

	.view > .connection-details { clear: both; margin-left: 5px; }

	.connection-details > div { display: block; margin-bottom: 5px; }

	.connection-list { margin-left: 5px; }
}
