body { margin: 0 !important; }

body { font-family: Helvetica, arial, freesans, clean, sans-serif;background-color: #eaeaea; margin: 0; padding: 0; }

.main-body { margin: 0 14px !important; }

.top-level-item.v2-label { display: none; }

h1 { font-size: 1.6em;margin: 0 0; }

h2 { margin: 10px 0; }

#dashboard-menu { background-color: #fff; margin-bottom: 10px }

.hidden { display: none; }

.fake-link { color: blue;cursor: pointer; }

.fake-link:hover { text-decoration: underline; }

.release-list { margin-right: 5px; }

.release-list h3 { font-size: 1.7em; }

#identify { position: absolute; top: 0; left: 0; width: 100%; height: 30px; padding: 20px 0; font-size: 2em; text-align: center; background-color: #fff; z-index: 10 }
#message { position: absolute; bottom: 0; left: 0; width: 100%; padding: 20px 0; font-size: 3em; text-align: center; background-color: #fff; z-index: 10 }

table { border-collapse: collapse; }
table th { text-align: left;background-color: #f7f7f7;height: 30px;padding: 5px;cursor: default; }

a { color: #000;transition-property: color;transition-duration: 300ms;text-decoration: none; }

.view-options {margin: 0 0 14px 7px; padding: 0 }

.view-options li.view-option {display: inline-block;cursor: pointer; background-color: #eee;border-radius: 3px;margin-right: 5px; background-repeat: no-repeat;background-position: 10px center; }
.view-options li.view-option.selected,
.view-options li.view-option a {padding: 11px 12px 4px 40px;height: 25px;}
.view-options li.view-option a {display: block;}
.view-options li.view-option.selected { background-color: #75A4FF;cursor: default; }

.view-options li.summary { background-image: url('../images/glyphicons_119_table.png'); }
.view-options li.graphs { background-image: url('../images/glyphicons_040_stats.png'); }

.graph-options { width: 250px;height: 700px;float: left;vertical-align: middle;list-style: none;margin: 0;padding: 0; }

.graph-options li.graph-option { width: 220px;height: 80px;background-color: #ddd;margin: 0 0 10px 7px;padding: 10px;cursor: pointer;border-radius: 5px 0 0 5px;font-size: 1.3em; }

.graph-options li.graph-option.selected { background-color: #75A4FF; }

.graph-type-options { margin-top: 15px; }

.graph-type-options li.view-option { padding: 5px; }

.graph-container { height: 690px;width: 840px;vertical-align: middle;background-color: #75A4FF;margin-left: 247px;border-radius: 0 5px 5px 5px;padding: 5px; }

.graph-container-inner { width: 100%;height: 100%;background-color: #fff;border-radius: 3px; }

.estimate-list { list-style: none;margin: 0;padding:0 }

.estimate-list li { background-color: #eee;min-height: 180px; }

.estimate-ticket-section { display: inline-block;width: 250px; }

.estimate-ticket-details {padding: 10px;}

.estimate-ticket-identifier { font-weight: bold;font-size: 1.1em; }

.server-list { margin: 0;padding: 0; }

.server-item { display: inline-block;width: 120px;height: 120px;padding: 10px;background-color: #ddd;margin: 2px;border-radius: 10px;position: relative; }

.server-status-indicator { background-color: #999;width: 50px;height: 50px;margin: 10px auto;border-radius: 30px; }

.server-status-indicator.online { background-color: #008000 }

.server-status-indicator.deploying { background-color: #ffa500 }

.server-status-indicator.down { background-color: #f00 }

#refresh-timer { float: right;margin: 10px 30px 10px 10px;border: 1px solid #000;width: 96px;height: 12px;padding: 2px; }

#refresh-progress { width: 0%;height: 12px;background-color: #000; }

#refresh-text { margin-top: 5px;font-size: 0.7em;text-align: right; }

.status-pending { width: 10px;height: 10px;background-color: #000;border-radius: 5px;position: absolute;bottom: 15px;right: 15px; }

.server-current-version { font-size: 0.9em;color: #888; }

.half-width { display: inline-block;width: 588px; max-width: 588px; }

.release-progress { list-style: none;margin: 0 auto 30px auto; padding:0;}

.release-deployment-group { height: 34px; display: inline-block;}

.release-deployment-group div { margin-top: 5px; }

.deployment-group-release-progress { list-style: none;margin: 0; padding:0;border: solid 3px #000;overflow: hidden; }

.release-deployment-group:first-child .deployment-group-release-progress { border-radius: 20px 0 0 20px; }

.release-deployment-group:last-child .deployment-group-release-progress { border-radius: 0 20px 20px 0; }

.deployment-group-release-server {cursor: default;width: 34px;height: 25px;padding: 9px 0 0 0;font-size: 0.8em;text-align: center;background-color: #ddd;float: left;border-right: 1px solid #999;position: relative; }

.deployment-group-release-server:last-child { border-right: 0 }

.deployment-group-release-server.deploying {background-color: #ffa500}

.deployment-group-release-server.online {background-color: #008000}

.deployment-group-release-server.down {background-color: #f00}

.deployment-group-release-server-label { display: none;position: absolute;top: 40px;left: 0 }

.deployment-group-release-server:first-child .deployment-group-release-server-label { display: block; }

.all-dashboards-list { margin: 0;padding: 0 }

.all-dashboards-list .dashboard-item { min-height: 128px;width: 170px;height: 170px;padding: 0 }

.all-dashboards-list .dashboard-item a { display: block;text-align: center;width:170px;height: 25px;padding: 145px 0 0 0;background-repeat: no-repeat; background-position: center 10px }

.all-dashboards-list .dashboard-item.product-owner a { background-image: url('../images/product-owner.png'); }

.all-dashboards-list .dashboard-item.release a { background-image: url('../images/box.png'); }

.all-dashboards-list .dashboard-item.status a { background-image: url('../images/line-chart.png'); }

#metric-drilldown-list,
#metric-title { display: inline-block; margin: 0 }

#metrics-list,
#metric-drilldown-list {padding: 0;margin: 0;list-style: none;margin-bottom: 15px; }

#metric-drilldown-list { padding: 0 0 0 10px; }

#metrics-list > li,
#metric-drilldown-list > li {display: inline-block;margin: 0 5px 0 0; }

#metrics-list > li a,
#metrics-list > li.selected-metric,
#metrics-list > li.stop-start,
#metric-drilldown-list > li a,
#metric-drilldown-list > li.selected-metric {padding: 5px;background-color: #eee;border-radius: 5px;}

#metrics-list > li.stop-start { width:19px; height:19px;float: right;background-image: url('../images/refresh-controls.png');background-repeat: no-repeat;background-position: 6px -22px;cursor: pointer; }

#metrics-list > li.stop-start.stopped { background-position: center 2px; }

#metrics-list > li.selected-metric,
#metric-drilldown-list > li.selected-metric {background-color: #75A4FF;cursor: default }

.menu-collapsed #metrics-list { display: none; }

.menu-collapsed #metric-drilldown-list { display: none; }

.menu-collapsed #metric-title { padding: 5px 0 }

.time-select {float: right;padding: 3px 0 0 0; }

.time-period-dialog { font-size: 0.8em }

.time-period-dialog label { display: block; }

.time-period-dialog input[type='date'],
.time-period-dialog input[type='time'] { margin: 4px 4px 4px 12px }

.box line,
.box rect,
.box circle { fill: #fff; stroke: #000; stroke-width: 1.5px; }

.box .center { stroke-dasharray: 3,3; }

.box .outlier { fill: none; stroke: #ccc; }

.axis path, .axis line { fill:none; stroke: #000; shape-rendering: crispEdges }

.x.axis path { display: none }

.line { fill:none;stroke-width: 2px; z-index: 10 }

.highlighted-region { z-index: 8;fill: #eee; }

@media (max-width: 800px)
{
    .actual-end-date,
    .actual-duration { display: none; }
}

h3 {margin: 0;padding: 0 }

#content {display: none;}

#content.initialised { display: block; }

.hidden { display: none !important; }

/* LOADING */
.loading-canvas {
    position: absolute;
}

.loading-overlay {position: absolute;top: 0;bottom: 0;left: 0;right: 0;background-color: #ddd;opacity: 0.5;}

.inline-loading-container {display: inline-block; width: 30px; height: 30px; margin: 0 0 10px 10px; vertical-align: middle; }

.inline-loading {
     width: 30px;
     height: 30px;
     background-image: url('../images/refresh.png');
     background-repeat: no-repeat;
     background-position: center;
    -webkit-animation: endlessRotate 2s linear infinite;
    -moz-animation: endlessRotate 2s linear infinite;
}

@-webkit-keyframes endlessRotate {
  from {-webkit-transform: rotate(0);}
  to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes endlessRotate {
  from {-moz-transform: rotate(0);}
  to {-moz-transform: rotate(360deg);}
}

/* Menu */
.connection-indicator { float: left; background-color: #999; width: 15px; height: 70px; }

.connection-indicator-icon { width: 30px; height: 27px; padding-top:3px; background-color: #999; margin-top: 20px; border-radius: 15px; text-align: center  }

.connection-indicator-icon span { font-size: 22px; color: #fff; }

.connection-indicator.connected,
.connection-indicator.connected .connection-indicator-icon { background-color: green; }
.connection-indicator.disconnected,
.connection-indicator.disconnected .connection-indicator-icon { background-color: red; }

.connection-indicator.connected span.connected      { display: block; }
.connection-indicator span.connected,
.connection-indicator.disconnected span.connected   { display: none; }

.connection-indicator.connected span.disconnected    { display: none; }
.connection-indicator span.disconnected,
.connection-indicator.disconnected span.disconnected { display: block; }

.settings-menu { position: absolute; top: 0px; right: 10px; }

.top-level-item.options { width: 48px; height: 48px; margin-right: 5px; background-image: url('../images/settings.png');background-repeat: no-repeat; background-position: center center; }

.time-control-header { min-width: 150px; }

.time-period { display: block; font-size: 0.9em; }

.time-period-end-point { display: block; font-size: 0.6em; color: #666; }

.time-control-header .current-item { padding-top: 3px; height:40px; }

#dashboard-menu { height: 70px; }

.ticker { width: 140px; height: 40px; background-color: #eee; float: left; border: 4px solid #ccc; margin-top: 6px; padding: 5px; overflow: hidden; }

.ticket-icon { width: 40px; height: 33px; padding: 4px 0; float: left; text-align: center; font-size:32px; }
.ticker-text { font-size: 1.8em; margin-top: 5px; padding-left: 42px; }

.settings-menu .clock { font-size: 3em; vertical-align: top; padding-top: 5px; }
.settings-menu .clock .seconds { font-size: 0.6em; }

.clock-icon { float: right; font-size: 40px; margin-left: 10px; font-color: #888; }

.time-control-header { padding-top: 15px; }

.status-menu {
    float: left;
    margin: 0;
    list-style: none;
    padding: 12px 10px 0 15px;
}

.settings-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-level-item {
    background-color: #fff;
    display: inline-block;
    font-size: 1.4em;
    font-weight: bold;
    vertical-align: bottom;
    cursor: default;
    position: relative;
    margin: 0 10px 0 0;
}

.top-level-item.text {
    padding: 11px 10px 5px 10px;
    margin-right: 5px;
    height: 32px;
}

.top-level-item.text-only .current-item {
    background-image: none;
    padding: 11px 10px 5px 10px;
}

.top-level-item.text-only select { display: none }

.status-submenu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.submenu-options {
    opacity: 0;
    -moz-opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.current-item {
    padding: 11px 38px 5px 10px;
    height: 32px;
    transition-property: color;
    transition-duration: 300ms;
    background-image: url('../images/glyphicons_367_expand.png');
    background-repeat: no-repeat;
    background-position: right 10px center;
    cursor: pointer;
}

.top-level-item:hover .current-item {
    color: #75A4FF;
    cursor: pointer;
}

.top-level-item.text-only:hover .current-item {
    color: #000;
    cursor: default;
}

.view-options { min-width: 172px }

/* DEFCON */

.defcon-detail {
    max-width: 90%;
    display: inline-block;
    vertical-align: top;
}

.defcon-detail p { font-size: 1.5em; }

.defcon-detail h3 {font-size: 3.4em;margin-top: 12px; }

.defcon-meter {
    list-style: none;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

.defcon-meter li {
    width: 18px;
    height: 27px;
    border: solid 6px #000;
    border-top: 0;
    border-bottom: 0;
    padding: 13px 15px 10px 17px;
    font-size: 1.5em;
    opacity: 0.4;
    cursor: default;
}

.defcon-meter li:last-child { border-bottom: solid 6px #000; }
.defcon-meter li:first-child { border-top: solid 6px #000; }

.defcon-meter li.current
{
    opacity: 1;
}

.cocked-pistol { background-color: #fff; }
.fast-pace { background-color: red }
.round-house { background-color: yellow }
.double-take { background-color: green }
.fade-out { background-color: skyblue }

.dashboard-component { border: solid 1px #ddd;background-color: #fff;margin-bottom: 10px;padding: 10px 10px 10px 10px; position: relative; display: inline-block; width:98%;vertical-align: top }

.component-content { position: relative; }

.dashboard-component h4 {margin: 0;padding: 0 }

.dashboard-component h3 {margin: 0 0 8px 0;padding: 0;float: left; vertical-align: middle }

/* Graph and Counter Component */
.graph-and-counter {  }

.v2-graph-container {height: 140px;margin-right: 145px;border: solid 1px #ddd;background-color: #fff; position: relative }

.v2-graph-container.with-alert {height: 140px;margin-right: 185px;border: solid 1px #ddd;background-color: #fff; position: relative }

.v2-graph-component h3 {margin-top: 5px;margin-bottom: 5px; }

.v2-graph-counter {float: right;width: 125px;height: 110px;text-align: center;padding: 15px 5px 15px 5px;font-size: 1.1em;border: solid 1px #ddd;background-color: #fff;position:relative }

.v2-graph-alert { float: right; width: 35px;height: 140px;text-align: center; margin: 0 5px 0 5px;font-size: 1.1em;border: solid 1px #ddd;background-color: #fff;position:relative }

.v2-graph-alert .indicator { position: absolute; left:0; top: -40px; height: 27px; width: 21px; padding: 0 0 0 6px; text-align: left; color: #999; border: #999 solid 4px; border-radius: 70px; font-size: 1.4em; }

.v2-graph-counter-value {display: block;font-size: 3.6em;margin-top: 4px; }

.v2-graph-counter-indicator {
    position: absolute;
    left: 10px;
    top: 62px;
    width: 24px;
    height: 9px;
    background-image: url('../images/updownindicators_24.png');
    background-repeat: no-repeat;
    transform: rotate(0);
    -webkit-transform: rotate(0);
    background-position: -18px 0;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
}

.v2-graph-container.with-v2-counter {height: 140px;margin-right: 225px;border: solid 1px #ddd;background-color: #fff; position: relative }

.v3-graph-counter {float: right;width: 205px;height: 110px;text-align: center;padding: 15px 5px 15px 5px;font-size: 1.1em;border: solid 1px #ddd;background-color: #fff;position:relative }

.v3-graph-counter-list { list-style: none; margin: 0 0 0 5px; padding:0; text-align: left; }

.v3-graph-counter-list > li {  margin-bottom: 3px; border-bottom: solid 1px #999; }

.v3-graph-counter-list > li.last-item { border-bottom: 0; }

.v3-graph-counter-legend, .v3-graph-counter-alert-indicator, .v3-graph-counter-label { float: left; }

.v3-graph-counter-legend { width: 10px; height: 34px; background-color:#ccc; margin-right: 5px; }
.v3-graph-counter-alert-indicator { width: 36px; height: 36px; margin-right: 5px; border-radius: 26px; font-size: 1.8em; font-weight: bold; text-align: center; }

.unknown-state { color: #ccc; }
.ok-state { color: green; }
.warning-state { color: #ffa500; }
.critical-state { color: #f00; }

.v3-graph-counter-label { font-size: 1.5em; font-weight: bold; padding-top: 3px; }
.v3-graph-counter-value { font-size: 1.5em; }
.v3-graph-counter-value-holder { padding-top: 3px; text-align: right; }

.dashboard-link { width: 14px; height: 14px; display: block; float: left; font-size: 0.8em; padding-left: 5px; }
.expanded-view .dashboard-link { width: 20px; height: 20px; display: block; float: left; padding: 13px 11px 11px 2px; font-size: 1em; }

.tall-graph .v3-graph-counter { height: 260px; }
.tall-graph .v2-graph-container.with-v2-counter,
.tall-graph .v2-graph-container { height: 290px; }
.tall-graph .v3-graph-counter-value { font-size: 2.3em; }

.expanded-view .v3-graph-counter-value-holder { clear: left; }

.axis { font-size: 0.75em; }

.v2-graph-counter-indicator.bad { background-position: -39px 0; }

.v2-graph-counter-indicator.good { background-position: -18px 0; }

.v2-graph-counter-indicator.down { transform: rotate(180deg);-webkit-transform: rotate(180deg); }

/* Status Component */
.health-check-component { padding: 10px 10px 0 10px; }

.health-check-server-groups-container { position: relative; }

.health-check-error { position: absolute;top: 0;left: 0;right: 0;bottom: 0;background-color: rgba(255, 255, 255, 0.8); z-index: 2 }

.health-check-error-text-container { position: absolute;font-size: 1.5em;padding-left: 140px;min-height: 140px;background-image: url('../images/error.png');background-position: left center;background-repeat: no-repeat }

.health-check-groups {margin: 0;padding: 0;list-style: none; }

.health-check-group-item {display: inline-block;margin: 0 5px 5px 0;border: solid 1px #ddd;background-color: #eee;padding: 5px;vertical-align: top}

.health-check-group-server-list {margin: 2px 0 0 0;padding: 0;list-style: none; }

.health-check-group-server-item {border: solid 1px #ddd;margin: 0 5px 5px 0;text-align: center;width: 24px;padding: 10px 0;display: inline-block;font-weight: bold;font-size: 0.8em; }


@-webkit-keyframes pulse_error {
         0% { background-color: rgba(255, 0, 0, 0.4); }
         100% { background-color: rgba(255, 0, 0, 1.0); }
    }

.health-check-group-server-item.ok { background-color: #008000 }
.health-check-group-server-item.error {
    background-color: #f00;
    -webkit-animation: pulse_error 1s infinite alternate;
}
.health-check-group-server-item.deploying { background-color: #ffa500 }
.health-check-group-server-item.timeout { background-color: #aaa }

.load-balancer-node-item {border: solid 1px #ddd;margin: 0 5px 5px 0;text-align: center;width: 24px;padding: 10px 0;display: inline-block;font-weight: bold;font-size: 0.8em; }

.load-balancer-node-item.alive { background-color: #008000 }
.load-balancer-node-item.dead {
    background-color: #f00;
    -webkit-animation: pulse_error 1s infinite alternate;
}
.load-balancer-node-item.draining { background-color: #ffa500 }
.load-balancer-node-item.disabled { background-color: #aaa }

.health-check-component .health-check-comms-error { padding: 0 0 5px 0; }

.health-check-last-updated { margin: 0 0 10px 0;font-style: italic;font-size: 0.8em;color: #888; }

.last-updated-bottom { margin: 5px 0 0 0; }

/* Error Graph Component */
.error-graph-summary-text { position: absolute;top: 16px;right: 14px;font-style: italic }

/* Error Components */

.errors-by-hour-selector { width: 50%; }

.errors-by-hour-list { margin: 0;padding: 0;list-style: none;-webkit-column-count:2;-moz-column-count:2;column-count:2; }

.errors-by-hour-list > li { height: 24px;clear: both;padding: 4px 0; }

.errors-by-hour-link { display: block;padding-top: 2px;float: left; }

.errors-by-hour-counter { float: right;padding-top: 3px;font-size: 0.9em;width: 44px; }

.errors-by-hour-graph { border: solid 1px #000;height: 20px;margin: 0 50px 0 110px; }

/* Commission Graph */

.commission-graph-counter .v2-graph-counter-value { font-size: 2.5em;margin-top: 3px; }

.counter-smallest-text .v2-graph-counter-value { font-size: 1.8em; margin-top: 15px; }

.kibana-frame { width: 100%; height: 100%; }

.multi-counter-container { position: absolute; vertical-align: middle; top: 50%; transform: translate(0, -50%) }

.multi-counter-item { text-align: left; margin-left: 10px; }

.multi-counter-item-label { display: inline-block; font-size: 0.9em; }
.multi-counter-item-dot { display: inline-block;width: 15px; height: 15px; margin-right: 3px; background-color: #777; border-radius: 8px; }

.multi-counter-item-value { font-size: 1.3em; }

#time-controls { position: absolute; width: 290px;  border: solid 3px #333; border-radius: 5px; z-index: 5; background-color:#fff; top: 70px; right: 5px; }

.time-control-options { margin: 0;padding: 0;list-style: none; }

.time-control-options li { display: inline-block; width: 40px; height: 40px; border: solid 4px #000; margin: 3px; text-align: center; font-size: 1.3em; cursor: pointer; background-color: #fff; }

.time-control-options.days li { width:auto; height: 27px; padding:8px 5px 5px 5px; }

.time-control-options li.selected { background-color: #ccc; }

.time-control-unit { font-size: 0.5em; }

.time-control-label { padding: 6px 0 5px 4px; display: block; font-size: 1.4em;}

.button-container { text-align: center; margin-top: 5px; }

.button-container button { background-color: #fff; border: 4px solid #000; font-size: 1.7em; }

#graph-tooltip, .graph-tooltip { font-size: 0.8em;z-index: 10; padding: 3px; width: 140px; position: absolute; background-color: #fff; border: solid 3px #000; border-radius: 5px }

.toolip-item-text, .tooltip-item-key { display: inline-block; }

.tooltip-item-key { height: 10px; width: 10px; background-color: #000; border-radius: 8px;margin-right: 5px; }

.status-table { border-collapse: collapse; }

.status-table th { background-color: transparent; text-align: left; padding: 5px 15px 5px 0; }

.status-table th.total-cell { padding-right: 60px; width: 70px; }

.status-table td { padding: 3px 20px 3px 3px; cursor: pointer; }

.status-table td.good  { background-color: green; }
.status-table td.warn  { background-color: orange; }
.status-table td.alert { background-color: red }

.good .tooltip-threshold-info-indicator { background-color: green; }
.warn .tooltip-threshold-info-indicator { background-color: orange; }
.alert .tooltip-threshold-info-indicator { background-color: red; }

.status-row th { font-size: 2em; font-weight: bold; }

.status-header-row th { font-size: 1.2em; width: 70px; }

.total-cell { font-size: 2em; padding-right: 40px; position: relative; }

.total-cell .status-cell-indicator { width: 20px; height: 20px;position: absolute; top: 13px; right: 5px;background-image: url('../images/conversion_indicators.png'); }

.total-cell.lessIsBetter .status-cell-indicator { background-position: 0 -20px }

.status-cell-container { display: inline-block; position: relative; padding-right: 15px; }

.status-cell-value { font-size: 1.5em; }

.status-cell-indicator { width: 10px; height: 10px; background-image: url('../images/conversion_indicators_small.png'); position: absolute; top: 0; right: 0; }
.lessIsBetter .status-cell-indicator { background-position: 0 -10px }

.warn .status-cell-indicator { background-position: 0 -10px }
.alert .status-cell-indicator { background-position: 0 -20px }

.warn.total-cell .status-cell-indicator { background-position: 0 -20px }
.alert.total-cell .status-cell-indicator { background-position: 0 -40px }

.lessIsBetter.warn .status-cell-indicator,
.lessIsBetter.warn.total-cell .status-cell-indicator { background-position: 0 0 }

.status-cell-percentage { font-size: 0.8em; position: absolute; bottom: 0; right: 0; }

.tooltip-main-stat { font-weight: bold; }

.tooltip-threshold-info-title { font-weight: bold; }

.tooltip-threshold-info-indicator { float: left; margin-top: 2px; margin-right: 2px; width: 10px; height: 10px; background-color: #000; border-radius: 5px }

.filter-item { display: block; clear: both }

.filter-item label { font-size: 1.1em; font-weight: bold; }

.filter-option { display: inline-block; border: 1px solid #000; padding: 5px 5px 5px 30px; margin: 0 0 10px 10px; cursor: pointer; position: relative; }

.filter-option:hover { background-color: #ddd; }

.filter-option-checkbox { position: absolute; top: 5px; left: 5px; width: 11px; height: 11px; padding: 3px; border: 1px solid #000; background-color: #fff; }

.filter-option-checkbox.radio { border-radius: 15px; }

.filter-option-checkbox-inner { width: 11px; height: 11px; background-color: #000; display: none }

.filter-option.selected .filter-option-checkbox-inner { display: block }

.filter-option.selected { background-color: #72C2D3; }

.radio .filter-option-checkbox-inner { border-radius: 6px; }

.open-in-kibana { display: block;float: left; height: 30px; margin: 0 10px 0 20px; padding-left: 33px; cursor: pointer; background-image: url('../images/kibana-small.png'); background-repeat: no-repeat; font-size: 1.1em; background-position: 0 4px }

.tier-indicator { width: 50px; height: 42px; background-color: #000; float: right; border-radius: 30px; padding-top: 8px; text-align: center; border: #000 5px solid; }

.tier-indicator.platinum    { background-color: #ddd; border-color: #999;  }
.tier-indicator.gold        { background-color: gold; border-color: #BFA100; }
.tier-indicator.silver      { background-color: #777; border-color: #333; }
.tier-indicator.bronze      { background-color: #CD7F32; border-color: #B36F2C; }

.provider-name { min-width: 440px; padding-top: 10px; }

.order-indicator { background-image: url('../images/conversion_indicators.png'); width: 20px; height: 20px; float: right;display: none;background-position: 0 -20px; }

.name-cell .order-indicator { float: none; }

.order-indicator.desc { background-position: 0 0;display: block }

.order-indicator.asce { display: block; }

.value-column-sorter { border: solid 1px #000; border-bottom: 0 }

.tier-header,
.provider-tier,
.provider-status-table { border-right: solid 1px #000; }

#value-sort-modifier { margin: 5px auto; width: 550px; }

.provider-options.tier-platinum .tier-gold,
.provider-options.tier-platinum .tier-silver,
.provider-options.tier-platinum .tier-bronze { display: none; }

.provider-options.tier-gold .tier-platinum,
.provider-options.tier-gold .tier-silver,
.provider-options.tier-gold .tier-bronze { display: none; }

.provider-options.tier-silver .tier-platinum,
.provider-options.tier-silver .tier-gold,
.provider-options.tier-silver .tier-bronze { display: none; }

.provider-options.tier-bronze .tier-platinum,
.provider-options.tier-bronze .tier-silver,
.provider-options.tier-bronze .tier-gold { display: none; }

.compare-options .filter-option { padding-left: 5px; }

.filter-icon { display: inline-block; font-size: 2em; vertical-align: middle }
.filter-text { display: inline-block; margin-left: 6px; vertical-align: middle }

.tier-options .filter-option,
.provider-options .filter-option { padding-top: 7px; }

.tier-options .filter-option-checkbox,
.provider-options .filter-option-checkbox { font-size: 0.8em; padding: 1px 3px 3px 3px; height: 14px; width: 12px; font-weight: bold; }

.tier-options .tier-option .filter-option-checkbox,
.provider-options .tier-option .filter-option-checkbox { border: solid 2px #000; padding: 1px 1px 1px 3px; width: 12px; }

.provider-option .filter-option-checkbox { width: 13px; padding-left: 2px; }

.platinum.tier-option .filter-option-checkbox,
.tier-platinum.provider-option .filter-option-checkbox { background-color: #ddd;border-color: #999 }
.gold.tier-option .filter-option-checkbox,
.tier-gold.provider-option .filter-option-checkbox { background-color: gold; border-color: #BFA100; }
.silver.tier-option .filter-option-checkbox,
.tier-silver.provider-option .filter-option-checkbox { background-color: #777; border-color: #333; }
.bronze.tier-option .filter-option-checkbox,
.tier-bronze.provider-option .filter-option-checkbox { background-color: #CD7F32; border-color: #B36F2C; }


.platinum.tier-option .filter-option-checkbox { width: 11px; padding-left: 4px }
.gold.tier-option .filter-option-checkbox { width: 13px; padding-left: 2px; }
.silver.tier-option .filter-option-checkbox { background-color: #777; border-color: #333; }
.bronze.tier-option .filter-option-checkbox { width: 11px; padding-left: 4px; }

.all-option .filter-option-checkbox { padding-left: 2px; width: 13px;  }

.filter-tick { display: none; }
.selected .filter-tick { display: inline-block; }

@media (max-width: 424px) {
    .inline-loading-container { float: right; }

    .health-check-last-updated { margin: 6px 0 10px 0; }
}

@-webkit-keyframes pulse {
         0% { background-color: rgba(200, 25, 25, 1); }
         90% { background-color: rgba(255, 0, 0, 0.0); }
         100% { background-color: rgba(255, 0, 0, 1.0); }
    }

.alert-state-info { background-color: green; }
.alert-state-breach { background-color: orange; }
.alert-state-critical {
    background-color: red;
    -webkit-animation: pulse 1s infinite alternate;
 }

.alert-state-info { padding: 10px; }

.affiliate-looktobook { width: 100%; }

.affiliate-looktobook th { text-align: left; }

.affiliate-looktobook td { padding: 4px; }

.affiliate-looktobook tr:nth-child(odd) { background-color: #f7f7f7 }
.affiliate-looktobook tr:nth-child(even) { background-color: #e8e8e8 }

.requests-header { width: 100px; }
.bookings-header { width: 100px; }
.looktobook-header { width: 180px; }

.title-row .fa { display: none; }

.title-row .sort-by .fa { display: inline; }

.cluster-state-panels { list-style: none; padding: 0; }

.cluster-state-panels > li { display: inline-block; vertical-align: top; margin-right: 20px; }


.main-status,
.node-status-header { font-size: 2em; }

.cluster-status-indicator { font-size: 6em; border: 10px solid #008000; border-radius: 100px; padding: 10px; color: #008000; width: 100px; height: 100px; text-align: center }

.cluster-status-indicator > span { font-size: 1em; }

.cluster-status-indicator.unknown { color: #aaa; border-color: #aaa; }

.cluster-status-indicator.recovering { color: #ffa500; border-color: #ffa500; }

.cluster-status-indicator.critical { color: #f00; border-color: #f00; }

.status-indicator.ok,
.status-indicator.recovery,
.status-indicator.unknown,
.status-indicator.critical { display: none; }

.cluster-status-indicator.unknown .status-indicator.unknown  { display: block; margin-right: 2px; margin-top: 2px; }
.cluster-status-indicator.ok .status-indicator.ok { display: block; }
.cluster-status-indicator.recovering .status-indicator.recovery { display: block; margin-top: 4px; }
.cluster-status-indicator.critical .status-indicator.critical { display: block; margin-top: 6px; }

.status-text { max-width: 400px; min-width: 250px; min-height: 160px; }

.nodes-panel { max-width: 320px; min-width: 200px; }

.node-list { padding: 0; list-style: none;}

.node-list li { margin-right: 5px;display: inline-block; margin-bottom: 5px; }

.node-list li .node-container { border: 4px solid #000; padding: 5px; background-color: #fff;width:18px;height:18px; text-align: center; }

.node-list li.OK .node-container,
.node-legend li.OK .block { background-color: #008000 }
.node-list li.FAILED .node-container,
.node-legend li.FAILED .block { background-color: #f00 }
.node-list li.TIMEOUT .node-container,
.node-legend li.TIMEOUT .block { background-color: #aaa }
.node-list li.LONG-TIMEOUT .node-container,
.node-legend li.LONG-TIMEOUT .block { background-color: #ffa500 }

.node-list li .master { width: 32px; height:30px; background-image: url('../images/crown.png'); margin: 0 0 3px 1px; }

.shard-allocation-states { margin-top: 5px; list-style: none; padding: 0; font-size: 1.25em; }

.shard-allocation-states > li > .fa { display: inline-block; width: 22px; text-align: center; }

.node-legend { list-style: none; padding: 0 }

.node-legend li { display: inline-block; margin-right: 5px; }

.node-legend li .block { width: 0.8em; height: 0.8em; display: inline-block; margin-right: 0.1em; border-radius: 50px }

.small.cluster-state-panels > li { margin-right: 5px; }
.small .cluster-status-indicator { width: 38px; height: 38px; border-width: 5px; font-size: 2em; padding: 3px; margin-top: 6px; }
.small .status-text,
.small .node-status-header { display: none }
.small .nodes-panel { max-width: auto; min-width: auto; }
.small .shard-allocation-panel { display: none; }
.small .node-list li .node-container { border-width: 2px; }
.small .node-list li .master { width: 15px; height:14px; background-image: url('../images/crown_small.png'); margin: 0 0 3px 8px; }

.last-updated-top-right { float: right; padding-top: 3px; }

.loading-clear-bottom { margin-bottom: 0 }

.goto-elk { position: absolute; bottom: 10px; right: 10px; }

.goto-elk-icon { display: inline-block; margin-left: 4px; }

.server-health-node-list { min-height: 300px; }

.node-info { min-height: 300px; padding: 10px; border: solid 5px #000; border-radius: 10px; width: 122px; margin-bottom: 15px; }

.node-info h3 { font-size: 1em; margin-top: 3px; }

.node-type { float: right; width: 20px; font-size: 1.3em }

.item-text { display: inline-block; margin: 0 0 0 3px; }

.node-item { clear: both; color: #555; margin: 0 0 3px 0; }

.big-item-side { float: left; width: 38px; font-size: 0.8em }

.big-item-side .item-text { display: block; margin: 0; width: 32px; text-align: center; font-size: 0.9em; }

.big-item-icon { font-size: 32px; width: 32px; text-align: center; }

.big-item-value { font-size: 2.6em; }

.main-items { margin: 10px 0; }

.node-info { border-color: #008000 }

.node-info.breach { border-color: #ffa500 }
.node-item.breach { color: #ffa500 }

.node-info.critical { border-color: #f00 }
.node-item.critical { color: #f00 }

.node-list li.FAILED .node-container,
.node-legend li.FAILED .block { background-color: #f00 }
.node-list li.TIMEOUT .node-container,
.node-legend li.TIMEOUT .block { background-color: #aaa }
.node-list li.LONG-TIMEOUT .node-container,
.node-legend li.LONG-TIMEOUT .block { background-color: #ffa500 }

.releases-list { list-style: none; padding: 0; margin: 5px }

.releases-inprogress .release-item { border: solid 5px #000; margin: 5px 0; padding: 10px; border-radius: 20px; min-height: 160px }

.releases-list .release-item h3 { float: none; font-size: 2em; word-break: break-all }

.releases-inprogress .team-icon { float: left; border: 10px solid #000; width: 90px; height: 90px; padding: 10px; border-radius: 100px; margin-right: 15px; position: relative; }

.releases-inprogress .team-label { position: absolute; width: 140px; top: 120px; font-size: 1.4em; left: -15px; text-align: center;  }

.releases-inprogress .release-status-icon { font-size: 90px }

.releases-inprogress .release-status-waiting { font-size: 80px; margin: 6px 10px; }
.releases-inprogress .release-status-failed { font-size: 81px; margin: 0px 5px; }

.releases-inprogress .release-status { float: right; border: 10px solid #000; width: 90px; height: 90px; padding: 10px; border-radius: 100px; margin-left: 10px; position:relative; }

.releases-inprogress .release-status .mega-octicon { font-size: 90px }

.releases-inprogress .release-status-label {position: absolute; width: 140px; top: 120px; font-size: 1.9em; left: -15px; text-align: center; }

.release-progress-header { float: left; font-size: 1.4em; padding-top: 6px; }

.release-progress { display: block; margin: 0 0 0 245px; }

.release-progress li { display: inline-block; margin-right: 5px; }

.release-progress li.stage { width: 30px; height: 30px; display: inline-block; border: solid 3px #000; margin-right: 5px; vertical-align: middle; border-radius: 20px;margin-bottom: 25px }

.release-progress li.stage-complete { background-color: green; }
.release-progress li.stage-inprogress { background-color: orange; position: relative }
.release-progress li.stage-failed { background-color: red; }
.release-progress li.stage-cancelled { background-color: #886A08; }

.stage-cancelled { display: none; }
.release-progress li.stage-cancelled .stage-cancelled { display: block; width: 100%; text-align: center; }

.releases-inprogress .release-status-icon-failed { border-color: red; }
.releases-inprogress .release-status-icon-shipping { border-color: green; }
.releases-inprogress .release-status-icon-waiting { border-color: orange; }
.releases-inprogress .release-status-icon-cancelled { border-color: #886A08; }

.releases-inprogress .release-status .release-status-icon { display: none; }

.releases-inprogress .release-status.release-status-icon-waiting .release-status-waiting { display: block; }
.releases-inprogress .release-status.release-status-icon-failed .release-status-failed { display: block; }
.releases-inprogress .release-status.release-status-icon-cancelled .release-status-cancelled { display: block; }
.releases-inprogress .release-status.release-status-icon-shipping .release-status-shipping { display: block; }

.release-status-failed { color: red; }
.release-status-waiting { color: orange; }
.release-status-shipping { color: green; }
.release-status-cancelled { text-align: center; color: #886A08; width: 100%; }

.release-progress li.stage .stage-pointer { display: none; }
.release-progress li.stage-inprogress .stage-pointer { display: block; bottom: -30px; left: 5px; position: absolute; }

.release-progress-label { vertical-align: middle; font-size: 1.3em; margin-bottom: 25px; }

.release-info { list-style: none; margin: 0 0 0 145px; padding: 0 }

.release-info-item { font-size: 1.2em; margin-bottom: 3px  }

.release-info-icon { font-size: 32px; width: 40px; text-align: center }

.releases-completed .release-item { border: solid 5px #000; margin: 5px 0; padding: 5px; border-radius: 20px; min-height: 80px }

.releases-completed .release-status-icon { font-size: 48px; padding: 5px; border: solid 8px #000; width: 54px; height: 54px; border-radius: 100px; text-align: center; float: left; }

.releases-completed .release-complete-ok { color: green; border-color: green; }

.releases-completed .release-complete-failed { color: red; border-color: red; }

.releases-completed .release-complete-cancelled { color: #886A08; border-color: #886A08; font-size: 56px; }

.completed-releases-container { margin-left: 95px; }

.completed-release-name { font-size: 1.3em; font-weight: bold; word-break: break-all; }

.releases-completed .release-info { margin: 0 }

.release-order-selector { position: absolute; top: -40px; right: 5px; cursor: pointer; font-size: 1.2em; }

.release-order-selector-icon-desc { display: none; }
.release-order-selector-label-desc { display: none; }

.desc .release-order-selector-icon-desc { display: inline; }
.desc .release-order-selector-label-desc { display: inline; }

.desc .release-order-selector-icon-asc { display: none; }
.desc .release-order-selector-label-asc { display: none; }

.no-releases { font-size: 3em; }

.pullrequest-mergestate-dirty { color: red; }

.pullrequest-additions-text { color: darkgreen; }
.pullrequest-deletions-text { color: darkred; }
.pullrequest-changes-text { color: darkorange; }

.github-user-avatar { border-radius: 50%; vertical-align: middle; border: solid 3px #000; }

.pipeline-name-counter { font-size: 0.8em; color: #bbb; font-style: italic; }

.hubot-info-icon { float: left; font-size: 90px; color: #FAAF5D; }

.hubot-info { margin-left: 110px; font-size: 1.2em; }

.hubot-info .fa.fa-slack { font-size: 0.8em; }

.hubot-info h3 { float:none; font-size: 1.9em; }

.hubot-info ul { margin: 5px 0; }

.ooh-rota { padding: 0;margin: 0; list-style: none }

.ooh-rota > li { padding: 0; margin-bottom: 5px; }

.ooh-rota > li > div { display: inline-block; }

.team-title { font-size: 2em; width: 350px; margin-right: 5px; }

.team-title-text { vertical-align: middle; padding-top:12px; }

.team-icon { vertical-align: middle;display: inline-block; width: 50px; height: 44px; border: 5px #000 solid; border-radius: 50px; margin-right: 5px; text-align: center; padding-top: 6px; float: left; }

.user-icon { vertical-align: middle;display: inline-block; width: 50px; height: 44px; border: 5px #000 solid; border-radius: 50px; margin-right: 5px; text-align: center; padding-top: 6px; float: left; }

.user-icon > span { font-size: 32px }

.user-title-text { vertical-align: middle; padding-top:14px; }

.team-current-oncall { font-size: 1.5em; width: 230px; }

.header .team-current-oncall { font-size: 2em; }

.rotation-calendar-row { height: 60px; background-color: #eee; border: 1px #ccc solid; vertical-align: top; }

.rotation-calendar-block { float: left; background: #ddd; height: 20px; margin-top: 3px; padding: 17px 5px; font-size: 1.2em; overflow: hidden; }

.calendar-header-months { font-size: 1.8em; clear: both; }

.calendar-header-month { float: left; }

.calendar-header-days  { clear: both; }

.calendar-header-day { float: left; }

.connectivity-service-summary { padding: 0; list-style: none }

.connectivity-service-summary > li { display: inline-block; vertical-align: middle; }

.state-checks { list-style: none; margin: 0 0 0 10px; padding: 0; min-width: 100px; }

.state-checks-item { font-size: 32px; }

.state-checks-item.ok { color: green; }

.state-checks-item.warn { color: #ffa500; }

.state-checks-item.critical { color: #f00; }

.state-checks-item.unknown { color: #a4f; }

.state-checks-icon { width: 32px; text-align: center; display: inline-block; margin-right: 5px; }

.state-checks-counter { display: inline-block; }

.provider-summary, .provider-detail { min-height: 212px; position: relative; }

.provider-detail h3 { margin-left: 50px; font-size: 1.9em }

.connectivity-service-status-indicator { font-size: 6em; border: 10px solid #008000; border-radius: 100px; padding: 10px; color: #008000; width: 100px; height: 100px; text-align: center }

.connectivity-service-status-indicator > span { font-size: 1em; }

.connectivity-service-status-indicator.pending { color: #aaa; border-color: #aaa; }

.connectivity-service-status-indicator.warning { color: #ffa500; border-color: #ffa500; }

.connectivity-service-status-indicator.critical { color: #f00; border-color: #f00; }

.connectivity-service-status-indicator.unknown { color: #a4f; border-color: #a4f; }

.connectivity-service-summary-status-indicator.ok,
.connectivity-service-summary-status-indicator.warning,
.connectivity-service-summary-status-indicator.unknown,
.connectivity-service-summary-status-indicator.pending,
.connectivity-service-summary-status-indicator.critical { display: none; }

.connectivity-service-status-indicator.pending .connectivity-service-summary-status-indicator.pending  { display: block; margin-right: 2px; margin-top: 2px; }
.connectivity-service-status-indicator.unknown .connectivity-service-summary-status-indicator.unknown  { display: block; margin-right: 2px; margin-top: 2px; }
.connectivity-service-status-indicator.ok .connectivity-service-summary-status-indicator.ok { display: block; }
.connectivity-service-status-indicator.warning .connectivity-service-summary-status-indicator.warning { display: block; margin-top: 4px; }
.connectivity-service-status-indicator.critical .connectivity-service-summary-status-indicator.critical { display: block; margin-top: 6px; }

.connectivity-service-breakdown { margin-right: 10px; }

.connectivity-service-summary > .connectivity-service-description,
.connectivity-service-summary > .connectivity-provider-description { vertical-align: top; min-width: 400px; font-size: 1.4em; }

.connectivity-provider-description { padding-left: 10px; }

.connectivity-service-description h2 { margin-top: 0; }

.connectivity-service-summary-tier-list { list-style: none; margin: 0; }

.connectivity-service-summary-tier-item { vertical-align: top;display: inline-block; width: 130px; height: 130px; border: solid 10px #000; margin-right: 10px; border-radius: 30px; position: relative; }

.provider-summary-item { vertical-align: top;display: inline-block; width: 130px; height: 130px; border: solid 10px #000; margin-right: 10px; border-radius: 30px; position: relative;background-color: #9ACD32; cursor: pointer; }

.connectivity-service-summary-tier-emblem { position: absolute; width: 50px; height: 48px; padding-top: 2px; text-align: center; background-color: #fff;border: 5px solid #000; border-radius: 50px; top: -35px; left: 35px; font-size: 2.7em; font-weight: bold; color: #000; }

.connectivity-service-summary-tier-emblem.platinum    { background-color: #ddd; border-color: #999;  }
.connectivity-service-summary-tier-emblem.gold        { background-color: gold; border-color: #BFA100; }
.connectivity-service-summary-tier-emblem.silver      { background-color: #777; border-color: #333; }
.connectivity-service-summary-tier-emblem.bronze      { background-color: #CD7F32; border-color: #B36F2C; }


.connectivity-service-status-tier-status {  }

.connectivity-service-status-tier-big-indicator { font-size: 5em; padding-top: 10px; width: 100%; text-align: center }

.connectivity-service-status-tier-big-text { font-size: 2em; text-align: center; font-weight: bold; }

.connectivity-service-status-tier-big-ok-indicators { list-style: none; margin: 50px 10px 5px 12px; padding: 0; }

.connectivity-service-status-tier-big-ok-indicator-item { display: inline-block }

.connectivity-service-status-tier-big-ok-indicator-item.ok,
.connectivity-service-summary-tier-item.ok,
.provider-summary-item.ok { color: green; }
.connectivity-service-summary-tier-item.ok,
.provider-summary-item.ok { border-color: green; }

.connectivity-service-status-tier-big-ok-indicator-item.warn,
.connectivity-service-summary-tier-item.warning,
.provider-summary-item.warning { color: #ffa500; }
.connectivity-service-summary-tier-item.warning,
.provider-summary-item.warning { border-color: #ffa500; }

.connectivity-service-status-tier-big-ok-indicator-item.critical,
.connectivity-service-summary-tier-item.critical,
.provider-summary-item.critical { color: #f00; }
.connectivity-service-summary-tier-item.critical,
.provider-summary-item.critical { border-color: #f00; }

.connectivity-service-status-tier-big-ok-indicator-item.unknown,
.connectivity-service-summary-tier-item.unknown,
.provider-summary-item.unknown { color: #a4f; }
.connectivity-service-summary-tier-item.unknown,
.provider-summary-item.unknown { border-color: #a4f; }

.connectivity-service-status-tier-big-ok-indicator-item-icon { font-size: 27px; width: 27px; text-align: center; display: inline-block; }

.connectivity-service-status-tier-big-ok-indicator-item-counter { font-size: 27px; width: 27px; display: inline-block; }

.provider-tier-summary { position: relative; border-top-left-radius: 50px; min-height: 237px }

.provider-tier-summary > h3 { margin-left: 70px; margin-top: 12px }

.provider-tier-summary-container { clear: both; padding-top: 25px; }

.provider-tier-summary-emblem { left: 0; top: 0; }

.connectivity-service-tier-status-indicator { font-size: 94px; border: solid 8px #777; border-radius: 180px; margin: 10px; padding: 10px; width: 114px; height: 114px; text-align: center; display: inline-block; margin-right: 10px; color: green; border-color: green; }

.connectivity-service-tier-status-text { display: inline-block; font-size: 1.8em; color: green; }

.connectivity-service-tier-status-big-text { font-size: 1.5em; font-weight: bold; }

.provider-tier-provider-list { list-style: none; padding: 0; margin: 0 }

.provider-tier-provider-list-item { display: inline-block; vertical-align: top; width: 160px; height: 140px; padding-top: 5px;font-size: 1.7em; background-color: #9ACD32; text-align: center; border: solid 10px green; margin: 5px 5px 0 0; border-radius: 40px; cursor: pointer; }

.provider-tier-provider-list-item.with-inner { padding-top: 0 ;height: 165px; width: 180px; border-width: 10px; border-radius: 50px; font-size: 1.6em; }

.provider-tier-provider-list-inner { vertical-align: top; width: 160px; height: 140px; padding-top: 5px;background-color: #9ACD32; text-align: center; border: solid 10px green; border-radius: 40px; }

.provider-tier-provider-list-item-title { padding: 0 5px; font-weight: bold; height: 64px; }

.small-text { font-size: 0.7em; padding-top: 9px; height: 56px; }

.provider-tier-provider-list-item-check-list { list-style: none; margin: 0; padding: 0 }

.provider-tier-provider-list-item-check-list-item { font-size: 0.85em; font-weight: bold; width: 30px; height: 29px; padding: 5px 4px 4px 4px; border-radius: 37px; margin-right: 3px; border: solid 5px #777; border-color: green;background-color: #9ACD32; display: inline-block; }

.with-inner .provider-tier-provider-list-item-check-list-item { padding-top: 6px; height: 28px; }

.provider-tier-provider-list-item-check-list-item.warn,
.provider-tier-provider-list-item.warn,
.provider-tier-provider-list-inner.warn,
.provider-summary-item.warning { border-color: #FF8C00; background-color: #FFB862; }

.provider-tier-provider-list-item-check-list-item.critical,
.provider-tier-provider-list-item.critical,
.provider-tier-provider-list-inner.critical,
.provider-summary-item.critical { border-color: #f00; background-color: #FF8F8F; }

.provider-tier-provider-list-item-check-list-item.unknown,
.provider-tier-provider-list-item.unknown,
.provider-tier-provider-list-inner.unknown,
.provider-summary-item.unknown { border-color: #a4f; background-color: #D6A6FF; }

.connectivity-service-summary-tier-emblem.bookings { color: green; border-color: green; background-color: #9ACD32; }
.connectivity-service-summary-tier-emblem.errors { color: #FF8C00;border-color: #FF8C00; background-color: #FFB862; }
.connectivity-service-summary-tier-emblem.booking-errors { color: #f00; border-color: #f00; background-color: #FF8F8F; }

.warning .provider-summary-selected-indicator { color: #FF8C00; }

.provider-tier-provider-list-item.platinum { border-color: #999; }
.provider-tier-provider-list-item.gold { border-color: #BFA100; }
.provider-tier-provider-list-item.silver { border-color: #333; }
.provider-tier-provider-list-item.bronze { border-color: #B36F2C; }

.provider-summary-check-item-title { padding-top: 5px; color: #000; text-align: center; font-weight: bold; font-size: 1.2em }

.provider-summary-check-item-subtext { padding-top: 2px; color: #000; text-align: center; font-weight: bold; font-size: 0.9em }

.provider-summary-check-item-value { padding-top: 30px; font-size: 43px; font-weight: bold; text-align: center; color: #000; min-height: 45px  }

.provider-summary-item .connectivity-service-summary-tier-emblem .mega-octicon { font-size: 50px; }

.provider-summary-selected-indicator { position: absolute; bottom: -29px; left: 55px; display: none; }

.selected .provider-summary-selected-indicator { display: block; }

.provider-detail-graph .v2-graph-container { margin-right: 0; }

.back-to-main { font-size: 50px; top: 0 ;left: 10px; position: absolute; cursor: pointer; }

.connectivity-provider-description .provider-tier-summary-emblem.connectivity-service-summary-tier-emblem { display: inline-block; position: static; width: 26px; height: 24px; vertical-align: middle; margin-left: 15px }

.provider-summary-tier-emblem-text { vertical-align: middle; display: inline-block; margin-left: 5px; font-size: 0.7em; font-style: italic; }

.provider-summary-provider-title-text {vertical-align: middle; display: inline-block;}

.provider-detail-detail { min-height: 400px; }

.provider-detail-detail-grid-container { list-style: none; margin: 0; padding: 0; clear: both; }

.provider-detail-detail-booking-table {  width: 100%; }

.provider-detail-detail-booking-table-bookingid { width: 120px; }
.provider-detail-detail-booking-table-booked { }
.provider-detail-detail-booking-table-channel { width: 140px; }
.provider-detail-detail-booking-table-country { width: 100px; }
.provider-detail-detail-booking-table-hoteldetails { width: 200px; }
.provider-detail-detail-booking-table-hoteldetails a { text-decoration: underline; }
.provider-detail-detail-booking-table-roomnights { width: 100px; }
.provider-detail-detail-booking-table-ttv { width: 100px; }
.provider-detail-detail-booking-table-commission { width: 140px; }
.provider-detail-detail-booking-table-affiliate { width: 250px; }
.provider-detail-detail-booking-table-viewsession { width: 50px; }

.provider-detail-detail-booking-table td { padding: 5px; }

.provider-detail-error-messages { width: 32%; display: inline-block; padding: 5px; vertical-align: top; }

.provider-detail-error-messages-table { width: 100%; margin-bottom: 10px; }

.provider-detail-error-messages-table td { padding: 5px; }

.provider-detail-errors { display: inline-block; vertical-align: top; width: 65%; padding: 5px; }

.release-signal-indicator { width: 200px; height: 200px; border: solid 20px #000; border-radius: 150px; margin: 0 auto; margin-bottom: 10px; font-size: 150px; text-align: center; }

.release-signal-indicator.green, .release-signal-text.green,
.release-signal-check-list-item-indicator.green,
.release-signal-check-list-item-text.green { border-color: green; color: green }
.release-signal-indicator.amber, .release-signal-text.amber,
.release-signal-check-list-item-indicator.amber,
.release-signal-check-list-item-text.amber { border-color: orange; color: orange }
.release-signal-indicator.red, .release-signal-text.red,
.release-signal-check-list-item-indicator.red,
.release-signal-check-list-item-text.red { border-color: #f00; color: #f00 }

.release-signal-text { font-size: 3em; text-align: center; font-weight: bold; }

.release-signal-indicator-icon { display: block; font-weight: bold; margin-top: 15px; }

.release-signal-check-list { list-style: none; margin: 10px 0 0 0; padding: 0 }

.release-signal-check-list-item { padding: 5px }

.release-signal-check-list-item-indicator { vertical-align: middle;display: inline-block; border: solid 6px #999; border-radius: 40px; width: 30px; height: 30px; text-align: center; font-size: 23px; }

.release-signal-check-list-item-indicator .release-signal-indicator-icon { margin-top: 3px; }

.release-signal-check-list-item-text { vertical-align: middle; display: inline-block; margin-left: 10px; font-size: 1.5em; font-weight: bold; }

.release-signal-check-list-item-reason { margin-left: 52px; font-style: italic; }

.release-signal-check-list-item-releases-ongoing { margin-left: 52px; font-weight: bold; }
.release-signal-check-list-item-releases-limits { margin-left: 52px; font-style: italic; }

.release-signal-check-list-item-can-release-at { margin-top: 5px; }
